<html>
<head>
	<title>{{if .Database}}{{.Database}}{{if .Table}}.{{.Table}}{{end}}{{end}} -- {{.Action}}</title>
	{{if .CSS}}<link rel="stylesheet" type="text/css" href="{{.CSS}}"/>{{end}}

	<script type="text/javascript">
	function uncheck(checkboxID, targetID) {if(document.getElementById(checkboxID).checked==true){document.getElementById(targetID).checked=false;}}
	</script>
</head>

<body>{{$level := .Level}}{{/*
*/}}{{define "tselector"}}
					    <OPTION value="~"> &sim; </OPTION>
					    <OPTION value="!~"> !&sim; </OPTION>
					    <option disabled val="" class="select-hr"></option>
					    <OPTION value="=="> == </OPTION>
					    <OPTION value="!="> != </OPTION>
					    <OPTION value=">"> &gt; </OPTION>
					    <OPTION value=">="> &ge; </OPTION>
					    <OPTION value="<"> &lt; </OPTION>
					    <OPTION value="<="> &le; </OPTION>{{if .Nullable}}
					    <option disabled val="" class="select-hr"></option>
					    <OPTION value="=0"> =0 </OPTION>
					    <OPTION value="!0"> !0 </OPTION>{{end}}{{end}}{{/*
*/}}{{define "nselector"}}
					    <OPTION value=""> &nbsp;&nbsp;&nbsp; </OPTION>
					    <OPTION value="="> = </OPTION>
					    <OPTION value="<>"> &ne; </OPTION>
					    <OPTION value=">"> &gt; </OPTION>
						<OPTION value=">="> &ge; </OPTION>
  					    <OPTION value="<"> &lt; </OPTION>
  					    <OPTION value="<="> &le; </OPTION>{{if .Nullable}}
  					    <option disabled val="" class="select-hr"></option>
						<OPTION value="=0"> =0 </OPTION>
						<OPTION value="!0"> !0 </OPTION> {{end}}{{end}}{{/*
*/}}{{define "oselector"}}
  					    <OPTION value="="> =  </OPTION>
  					    <OPTION value="<>"> &ne; </OPTION>
 					    <OPTION value=">"> &gt; </OPTION>
						<OPTION value=">="> &ge; </OPTION>
						<OPTION value="<"> &lt; </OPTION>
						<OPTION value="<="> &le; </OPTION>{{if .Nullable}}
						<option disabled val="" class="select-hr"></option>
						<OPTION value="=0"> =0 </OPTION>
						<OPTION value="!0"> !0 </OPTION>{{end}}{{end}}{{/*
*/}}{{define "selector"}}{{if .IsNumeric}}{{template "nselector" .}}{{else if .IsString}}{{template "tselector" .}}{{else}}{{template "oselector" .}}{{end}}{{end}}{{/*
*/}}{{define "where"}}class="cell" type="text" tabindex="{{.Number}}" value="{{.Value}}"{{end}}{{/*
*/}}{{define "set"}} class="cell" type="text" id="{{.Name}}TEXT"{{/*
		*/}} onKeyDown="document.getElementById('{{.Name}}EMPTY').checked=false;document.getElementById('{{.Name}}NULL').checked=false;"{{/*
		*/}} tabindex="{{.Number}}" value="{{.Value}}"{{end}}{{/*
*/}}{{define "null"}}class="cell" type="checkbox" id="{{.Name}}NULL" {{/*
		*/}} onClick="uncheck('{{.Name}}NULL', '{{.Name}}EMPTY')"{{if .Nullable}} {{/*
		*/}} value="N" {{else}} disabled = "disabled"{{end}}{{end}}{{/*
*/}}{{define "empty"}}class="cell" type="checkbox" id="{{.Name}}EMPTY" {{/*
		*/}} onClick="uncheck('{{.Name}}EMPTY', '{{.Name}}NULL')"{{if .IsString}}{{/*
		*/}} value="E" {{else}} disabled = "disabled"{{end}}{{end}}{{/*

*/}}{{if .Trail}}
	<div class="top">
		<div class="breadcrumb">
		    <a class="trail" href="logout">&times;</a>{{range .Trail}}
		    <a class="trail" href="{{.Link}}">{{.Text}}</a>{{end}}
		</div>
	</div>{{end}}

	<div class="main">
		<form action="/">
			<input type="hidden" name="action" value="{{.Action}}">
			<input type="hidden" name="db" value="{{.Database}}">
			<input type="hidden" name="t"  value="{{.Table}}">
			<input type="hidden" name="o"  value="{{.Order}}">
			<input type="hidden" name="d"  value="{{.Desc}}">{{range .Hidden}}
			<input class="cell" type="hidden" name="{{.Name}}" value="{{.Value}}">{{end}}

			{{if .Selector}}<table>
				<tr>
					<th>#</th> <th>Column</th> <th>&nbsp;?</th> <th>Data</th>
				</tr>{{range .Columns}}
				<tr>
					<td>{{.Number}}</td>
					<td>{{.Label}}</td>
					<td class="cell"><SELECT name="O{{$level}}{{.Name}}" style="width: 100%"> {{template "selector" .}}</SELECT></td>
					<td class="cell"><input name="W{{$level}}{{.Name}}" {{template "where" .}}></td>
				</tr>{{end}}
			</table>{{else}}<table>
				<tr>
					<th>#</th> <th>Column</th> <th>Null</th> <th>&quot;&nbsp;&quot;</th> <th>Data</th>
				</tr>{{range .Columns}}
				<tr>
					<td>{{.Number}}</td>
					<td>{{.Label}}</td>
					<td class="cell"><input name="N{{$level}}{{.Name}}" {{template "null" .}}></td>
					<td class="cell"><input name="N{{$level}}{{.Name}}" {{template "empty" .}}></td>
					<td class="cell"><input name="S{{$level}}{{.Name}}" {{template "set" .}}></td>
				</tr>{{end}}
			</table>{{end}}

			<br>
			<button type="submit">{{.Button}}</button>
		</form>
	</div>
</body>
</html>


