<html>
<head>
<title>{{if .Database}}{{.Database}}{{if .Table}}.{{.Table}}{{end}}{{end}} -- {{.Action}}</title> 
{{if .CSS}}<link rel="stylesheet" type="text/css" href="html/table.css"/>{{end}}

<body>
{{define "tselector"}}
<SELECT name="{{.}}O" style="width:90%;" >
      <OPTION value="~"> &sim; </OPTION>
      <OPTION value="!~"> !&sim; </OPTION>
      <OPTION value=">"> &gt; </OPTION>
      <OPTION value=">="> &ge; </OPTION>
      <OPTION value="<"> &lt; </OPTION>
      <OPTION value="<="> &le; </OPTION>
</SELECT>{{end}}
{{define "nselector"}}
<SELECT name="{{.}}O" style="width:90%;" >
      <OPTION value=""> &nbsp; </OPTION>
      <OPTION value="="> = </OPTION>
      <OPTION value="<>"> &ne; </OPTION>
      <OPTION value=">"> &gt; </OPTION>
      <OPTION value=">="> &ge; </OPTION>
      <OPTION value="<"> &lt; </OPTION>
      <OPTION value="<="> &le; </OPTION>
</SELECT>{{end}}
{{define "oselector"}}
<SELECT name="{{.}}O" style="width:90%;" > 
      <OPTION value="="> =  </OPTION>
      <OPTION value="<>"> &ne; </OPTION>
      <OPTION value=">"> &gt; </OPTION>
      <OPTION value=">="> &ge; </OPTION>
      <OPTION value="<"> &lt; </OPTION>
      <OPTION value="<="> &le; </OPTION>
</SELECT>{{end}}
{{define "selector"}}{{if .IsNumeric}}{{template "nselector" .Name}}{{else if .IsString}}{{template "tselector" .Name}}{{else}}{{template "oselector" .Name}}{{end}}{{end}}
{{define "set"}}<input class="cell" type="text" name="{{.Name}}S" value="{{.Value}}">{{end}}
{{define "input"}}<input class="cell" type="text" name="{{.Name}}W" value="{{.Value}}">{{end}}
{{define "readonly"}}<input class="cell" type="hidden" name="{{.Name}}W" value="{{.Value}}">{{.Value}}{{end}}
{{define "field"}}{{if .Readonly}}{{template "readonly" .}}{{else}}{{template "input" .}}{{end}}{{end}}

{{if .Trail}}<div class="top">
	<div class="breadcrumb">
	    <a class="trail" href="logout">&times;</a>{{range .Trail}}
	    <a class="trail" href="/?{{.Link}}">{{.Text}}</a>{{end}}
	</div>    
</div>{{end}}

<div class="main">
	<form action="/">
		<input type="hidden" name="action" value="{{.Action}}">
		<input type="hidden" name="db" value="{{.Database}}">
		<input type="hidden" name="t"  value="{{.Table}}">
		<input type="hidden" name="k"  value="{{.Key}}">
		<input type="hidden" name="v"  value="{{.Value}}">
		<table>
			{{if .Selector}}<tr> <th>#</th> <th>Column</th> <th>&nbsp;?</th> <th>Data</th> </tr>
			{{range .Columns}}<tr> <td>{{.Number}}</td> <td>{{.Label}}</td> <td>{{template "selector" .}}</td> <td>{{template "field" .}}</td> </tr>
			{{end}}{{else}}<tr> <th>#</th> <th>Column</th> <th>Data</th> </tr>
			{{range .Columns}}<tr> <td>{{.Number}}</td> <td>{{.Label}}</td> <td>{{template "set" .}}</td> </tr>
			{{end}}{{end}}
		</table>
		<br>
		<button type="submit">{{.Button}}</button>
	</form>
</div>

</body>
</html>


