<html>
<head>
<title>{{if .Database}}{{.Database}}{{if .Table}}.{{.Table}}{{end}}{{else}}{{.User}}@{{.Host}}:{{.Port}}{{end}}</title>
{{if .CSS}}<link rel="stylesheet" type="text/css" href="html/table.css"/>{{end}}
<body>

<div class="top">
{{if .Trail}}
	<div class="breadcrumb">
	    <a class="trail" href="logout">[]</a></li>			
	    {{range .Trail}}<a class="trail" href="{{.Link}}">{{.Label}}</a>{{end}}
	</div>
{{end}}

{{if .Counter}}
   <div class="counter">
	    <a class="count" href="{{.Left}}"> &lt; </a></li>			
	    <a class="count" href="{{.This}}">{{.Counter}}</a></li>			
	    <a class="count" href="{{.Right}}"> &gt; </a></li>			
    <!--<a class="count" href="{{.Insert}}"> + </a></li> -->			
   </div>
{{end}}

{{if .Menu}}
   <div class="right">{{range .Menu}}<a class="count" href="{{.Link}}">[{{.Label}}]</a>{{end}}</div>
{{end}}
</div>

<div class="main">
<table>
<tr><th class="column">{{if .Trail}}#{{else}}<a href="{{.Back}}">[X]</a>{{end}}</th>{{range .Head}}<th class="column">{{.}}</th>{{end}}</tr>
{{range .Records}}<tr>{{range .}}<td class="cell">{{.}}</td>{{end}}</tr>
{{end}}
</table>
</div>
</body>
</html>


