<html>
<head>
<title>{{if .Database}}{{.Database}}{{if .Table}}.{{.Table}}{{end}}{{else}}{{.User}}@{{.Host}}:{{.Port}}{{end}}</title>
{{if .CSS}}<link rel="stylesheet" type="text/css" href="html/table.css"/>{{end}}
<body>


{{if .Trail}}
	<div class="breadcrumb" align="left">
	    <a class="trail" href="logout">x</a></li>			
	    {{range .Trail}}<a class="trail" href="{{.Link}}">{{.Label}}</a>{{end}}
	</div>
   <div class="right" align="right">{{if .Menu}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{range .Menu}}<a href="{{.Link}}">[{{.Label}}]</a>{{end}}{{end}}</div>
   <div class="center" align="center">&nbsp;</div>
{{end}}


<table>
<tr><th class="column">{{if .Trail}}#{{else}}<a href="{{.Back}}">[X]</a>{{end}}</th>{{range .Head}}<th class="column">{{.}}</th>{{end}}</tr>
{{range .Records}}<tr>{{range .}}<td class="cell">{{.}}</td>{{end}}</tr>
{{end}}
</table>
</body>
</html>


