<html>
<head>
<title>{{if .Database}}{{.Database}}{{if .Table}}.{{.Table}}{{end}}{{else}}{{.User}}@{{.Host}}:{{.Port}}{{end}}</title>
{{if .CSS}}<link rel="stylesheet" type="text/css" href="/{{.CSS}}"/>{{end}}

<body>{{if .Trail}}
<div class="top">
	<div class="breadcrumb">
	    <a href="logout" class="trail">&times;</a>{{range .Trail}}
	    <a href="{{.Link}}" class="trail">{{.Text}}</a>{{end}}
	</div>{{if .Counter}}
	<div class="counter">
		<form action="/">{{if .Left}}
			<a href="{{.Left.Link}}" class="count"> {{.Left.Text}} </a>{{end}}
			{{if .Left}}<label class="count">{{.Label}}</label>
			{{end}}<input type="hidden" name="action" value="GOTO">
			<input type="hidden" name="db"        value="{{.Database}}">
			<input type="hidden" name="t"         value="{{.Table}}">{{if .Order}}
			<input type="hidden" name="o"         value="{{.Order}}">{{end}}{{if .Desc}}
			<input type="hidden" name="d"         value="{{.Desc}}">{{end}}{{range .Hidden}}
			<input type="hidden" name="{{.Name}}" value="{{.Value}}">{{end}}
			<input type="text"   name="n"      value="{{.Counter}}" class="range" size=2 tabindex="1">
			<button type="submit" hidden='hidden'>go</button>{{if .Right}}
			<a href="{{.Right.Link}}" class="count" > {{.Right.Text}} </a>{{end}}
		</form>
    </div>{{end}}{{if .Menu}}
	<div class="right">{{range .Menu}}
		<a href="{{.Link}}" class="count" >[{{.Text}}]</a>{{end}}
	</div>{{end}}
</div>{{end}}

{{define "sec"}}({{printf "%.2f" .}} sec){{end}}
{{define "rows"}}{{if eq .Rows 0}}Empty set {{template "sec" .Seconds}}{{else if eq .Rows 1}}1 row in set {{template "sec" .Seconds}}{{else}}{{.Rows}} rows in set {{template "sec" .Seconds}}{{end}}{{end}}
{{define "affected"}}Query OK, {{if eq .Affected 1}}1 row affected {{template "sec" .Seconds}}{{else}}{{.Affected}} rows affected {{template "sec" .Seconds}}{{end}}{{end}}

{{range .Messages}}
<div class="message">
   {{.Msg}};{{if ge .Rows 0}}<br>
   {{template "rows" .}}{{end}}{{if ge .Affected 0}}<br>
   {{template "affected" .}}{{end}}
</div>{{end}}

{{define "entry"}}{{if .Null}}<font color="red"><em>{{.Null}}</em></font>{{else}}{{if .Link}}<a href="{{.Link}}">{{.Text}}</a>{{else}}{{.Text}}{{end}}{{end}}{{end}}
{{if ne 0 (len .Records) }}
<div class="main">
   <table>
   <tr>{{range .Head}} <th>{{template "entry" .}}</th> {{end}}{{if .Trail}}{{else}}<th>{{template "entry" .Back}}</th> {{end}}</tr>{{range .Records}}
   <tr>{{range .}} <td>{{template "entry" .}}</td>{{end}} </tr>{{end}}
   </table>
</div>{{end}}
</body>
</html>


