html {
	font-size:1rem;									/* line 1 px border radius 5 px padding 1 rem */
	font-family: sans-serif;
}

.top {
    width: 100%;
    display: flex;
    margin: 0;
}

.message {
	margin: 24px 0 0 0;
    text-decoration: none;
    font-size: 0.8rem;
	color: #715524;        							/* my brown */
}

.main {
	margin: 24px 0 0 0;
}

table {
	text-align: left;
    text-decoration: none;
    font-size: 1em;
}


a {text-decoration: none}
a:link {color: #715524;}							/* my brown */
a:visited {color: #715524;} 						/* my brown */
a:hover {color: orange;text-decoration: underline}
a:active {color: red;}

th {
	padding: 4px 8px;
    border-right: 1px solid #715524;
	border-bottom: 1px solid #715524;
    font-weight: bold;
    color: #74AD6E;                					/* my green */
}
th > a:link {color: #74AD6E;}              			/* my green */
th > a:visited {color: #74AD6E;}               		/* my green */
th > a:hover {color: orange;text-decoration: underline}
th > a:active {color: red;}
td {
	white-space: nowrap;
	padding: 4px 8px;
    border-right: 1px solid #715524;
	border-bottom: 1px solid #715524;
	background: #fff;
	color: #715524;        							/* my brown */
}
td.cell {padding: 0px 8px;}

input.cell
    {
    padding: 0px;
    border: 0px none;
    color: #715524;        							/* my brown */
    }

input.range {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-size: 1rem;
	line-height: 2rem;
	height: 2rem;
	color: white;
	padding: 0px 4px;
	background: #74AD6E;							/* my green */
	position: relative;
	border: none;
	margin: 0px;
}

option.select-hr { border-bottom: 1px dotted #000; font-size: 0px; margin: 3px 0px 3px 0px; }
input[type=select] {padding: 0; margin: 0; width=100%}
input[type=text]:hover {background:#F0F0F0;color: #715524;        							/* my brown */}
input[type=text]:active {background:#74AD6E;color: #715524;        							/* my brown */}		/* my green */

button {
	color: white;
	background: #715524;							/* my brown */
    border: none;
	border-radius: 5px;
    height: 32px;
}
button:hover { color: orange;}
button:active { color: red;}


.counter {
	border-radius: 5px;
	margin-left: 32px;
	margin-right: auto;
}

.count {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	line-height: 2rem;
	color: white;
	padding: 0px 8px;
	background: #74AD6E;
	position: relative;
}

label.count{color: white; padding: 0px 4px;}
a.count{color: white; padding: 0px 4px;}
a.count:first-child {padding: 0px 8px; border-radius: 5px 0 0 5px;}
a.count:last-child {padding: 0px 8px; border-radius: 0 5px 5px 0;}
a.count:active, .counter a.count:hover {text-decoration: none; background: #715524;}
a.count:active {text-decoration: none; color:orange;}


.right {
    margin-left: auto;

}

.right a.count {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-family: sans-serif;
	line-height: 2rem;
	color: white;
	padding: 0 10px;
	background: #74AD6E;
	position: relative;
}

.right a.count:first-child {border-radius: 5px 0 0 5px;}
.right a.count:last-child {border-radius: 0 5px 5px 0;}
.right a.count:active, .right a.count:hover{	background: #715524;}
.right a.count:active {color:orange;}






/* http://thecodeplayer.com/walkthrough/css3-breadcrumb-navigation */

.breadcrumb {
    text-align: center;
	display: inline-block;
	overflow: hidden;
	float: left;
}

.breadcrumb a.trail {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-family: sans-serif;
	line-height: 2rem;
	color: white;
	padding: 0 1rem 0 2rem;
	background: #74AD6E;
	position: relative;
}
.breadcrumb a.trail:first-child {
	padding-left: 1rem;
	border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}
.breadcrumb a.trail:first-child:before {
	left: 15px;
}
.breadcrumb a.trail:last-child {
	border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
	padding-right: 15px;
}

.breadcrumb a.trail:active, .breadcrumb a.trail:hover{	background: #715524;}
.breadcrumb a.trail:active {color: orange;}
.breadcrumb a.trail:active:after, .breadcrumb a.trail:hover:after {	background: #715524;}
.breadcrumb a.trail:after {
	content: '';
	position: absolute;
	top: 0;
	right: -1rem; /*half of square's length*/
	/*same dimension as the line-height of .breadcrumb a */
	width: 2rem;
	height: 1.9rem;
	transform: scale(0.707) rotate(45deg);
	z-index: 1;
	background: #74AD6E;
	box-shadow:
		2px -2px 0 2px rgba(0, 0, 0, 0.4),
		3px -3px 0 2px rgba(255, 255, 255, 0.1);
	border-radius: 0 5px 0 5px;
}

.breadcrumb a.trail:last-child:after {
	content: none;
}
