html { 
	font-size:1.33vw;
}

a {text-decoration: none}
a:link {color: #715524;}							/* my brown */
a:visited {color: #715524;} 						/* my brown */
a:hover {color: orange;text-decoration: underline}
a:active {color: red;}

table {
	padding: 0;
    text-align: left;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.2vw
}
th {
	padding: 0.5vw 0.5vw 0.5vw 1vw;
    border-right: 1px solid #715524;
	border-bottom: 1px solid #715524;
    font-weight: bold;
    color: #74AD6E;                					/* my green */
}
th > a:link {color: #74AD6E;}              			/* my green */
th > a:visited {color: #74AD6E;}               		/* my green */
th > a:hover {color: orange;text-decoration: underline}
th > a:active {color: red;}
td {
	padding: 0.5vw 0.5vw 0.5vw 0.5vw;
    border-right: 1px solid #715524;
	border-bottom: 1px solid #715524;
	background: #fff;
	color: #715524;        							/* my brown */
}


input.cell
    {
    border: 0px none;
    color: #715524;        							/* my brown */
    }

input.range {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-family: sans-serif;
	font-size: 1.33vw;
	line-height: 2.5vw;
	color: white;
	padding: 0 1vw 0 1vw;
	background: #74AD6E;							/* my green */
	position: relative;
	border: none;  
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
}   

option.select-hr { border-bottom: 1px dotted #000; font-size: 0px; margin: 3px 0px 3px 0px; }
input[type=select] {padding: 0; margin: 0; width=100%}
input[type=text]:hover {background:#F0F0F0;color: #715524;        							/* my brown */}
input[type=text]:active {background:#74AD6E;color: #715524;        							/* my brown */}		/* my green */

button {
	color: white; 
	background: #715524;							/* my brown */
    border: none;
	border-radius: 0.33vw; 
    height: 2.5vw;
}
button:hover { color: orange;}
button:active { color: red;}


.counter {
	border-radius: 0.33vw;
	margin-left: auto;
	margin-right: auto;
}

.counter a.count {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-family: sans-serif;
	line-height: 2.5vw;
	color: white;
	padding: 0 1vw 0 1vw;
	background: #74AD6E;
	position: relative;
}

.counter a.count:first-child {border-radius: 0.33vw 0 0 0.33vw;}
.counter a.count:last-child {border-radius: 0 0.33vw 0.33vw 0;}
.counter a.count:active, .counter a.count:hover{	background: #715524;}
.counter a.count:active {color:orange;}

.right {	
    margin-left: auto;	

}

.right a.count {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-family: sans-serif;
	line-height: 2.5vw;
	color: white;
	padding: 0 1vw 0 1vw;
	background: #74AD6E;
	position: relative;
}

.right a.count:first-child {border-radius: 0.33vw 0 0 0.33vw;}
.right a.count:last-child {border-radius: 0 0.33vw 0.33vw 0;}
.right a.count:active, .right a.count:hover{	background: #715524;}
.right a.count:active {color:orange;}


.top {
    width: 100%;
    padding: 0.33vw;
    height: 5vw;
    display: flex;
}




/* http://thecodeplayer.com/walkthrough/css3-breadcrumb-navigation */

.breadcrumb {
    text-align: center;
	display: inline-block;
	overflow: hidden;
	border-radius: 0.33vw;
	float: left;
}

.breadcrumb a.trail {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-family: sans-serif;
	line-height: 2.5vw;
	color: white;
	padding: 0 2vw 0 2.5vw; /* 20px + 18px */
	background: #74AD6E;
	position: relative;
}
.breadcrumb a.trail:first-child {
	padding-left: 2vw;
	border-radius: 0.33vw 0 0 0.33vw; /*to match with the parent's radius*/
}
.breadcrumb a.trail:first-child:before {
	left: 1vw;
}
.breadcrumb a.trail:last-child {
	border-radius: 0 0.33vw 0.33vw 0; /*this was to prevent glitches on hover*/
	padding-right: 1.5vw;
}

.breadcrumb a.trail:active, .breadcrumb a.trail:hover{	background: #715524;}
.breadcrumb a.trail:active {color: orange;}
.breadcrumb a.trail:active:after, .breadcrumb a.trail:hover:after {	background: #715524;}
.breadcrumb a.trail:after {
	content: '';
	position: absolute;
	top: 0; 
	right: -1.25vw; /*half of square's length*/
	/*same dimension as the line-height of .breadcrumb a */
	width: 2.5vw; 
	height: 2.4vw;
	transform: scale(0.707) rotate(45deg);
	z-index: 1;
	background: #74AD6E;
	box-shadow: 
		2px -2px 0 2px rgba(0, 0, 0, 0.4), 
		3px -3px 0 2px rgba(255, 255, 255, 0.1);
	border-radius: 0 0.33vw 0 0.33vw;
}

.breadcrumb a.trail:last-child:after {
	content: none;
}
