<html><body>

<h1>table</h1>
<table>
<tr><td>Regular text</td><td>{{.Text}}</td></tr>
<tr><td>Tag injection</td><td>{{.Tag}}</td></tr>
<tr><td>Link</td><td><a href="{{.Link}}"> www</a></td></tr>
<tr><td>Query String</td><td><a href="test?{{.Query}}"> www (broken)</a></td></tr>
<tr><td>Path & Query</td><td><a href="{{.PathQuery}}"> www (working)</a></td></tr>
<tr><td>URI</td><td><a href="{{.URI}}"> www</a></td></tr>
<tr><td>URI Double</td><td><a href="{{.URIDouble}}"> www</a></td></tr>
<tr><td>URI Single</td><td><a href='{{.URISingle}}'> www</a></td></tr>
<tr><td>Double Quote Escape</td><td><input type="text" name=unsafe value="{{.Double}}"></td></tr>
<tr><td>Single Quote Escape</td><td><input type="text" name=unsafe value='{{.Single}}'></td></tr>
<tr><td>Double Quote attribute injection</td><td><input type="text" name=unsafe value="{{.AttributeDouble}}"></td></tr>
<tr><td>Single Quote attribute injection</td><td><input type="text" name=unsafe value='{{.AttributeSingle}}'></td></tr>
</table>
	
{{define "t"}}
<p>{{.Text}} Regular text</p>
<p>{{.Tag}} Tag injection</p>
<p>Link<a href="{{.Link}}"> www</a></a></p>
<p><input type="text" name=unsafe value="{{.Double}}"> Double Quote Escape</p>
<p><input type="text" name=unsafe value='{{.Single}}'> Single Quote Escape</p>
<p><input type="text" name=unsafe value="{{.AttributeDouble}}"> Double Quote attribute injection</p>
<p><input type="text" name=unsafe value='{{.AttributeSingle}}'> Single Quote attribute injection</p>
{{end}}

<h1>template</h1>	
{{template "t" .}}



</body></html>
